.el-header {
  background-color: var(--el-color-primary);
  color: var(--el-color-white);
  line-height: var(--el-header-height);
  position: fixed;
  z-index: 10;
  width: 100%;
}
.main-container {
  margin-top: var(--el-header-height);
  min-height: calc(100vh - var(--el-header-height) - var(--el-footer-height));
}

.el-main {
  overflow: unset !important;
}

.el-footer {
  line-height: var(--el-footer-height);
  background-color: var(--el-color-info-light-5);
}

.el-aside {
  border-right: solid 1px var(--el-border-color);
  width: unset !important;
}
.el-menu {
  border-right: none !important;
  .el-menu-item {
    padding-right: 40px !important;
  }
}

.el-breadcrumb {
  margin-bottom: var(--el-main-padding);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.el-descriptions__label {
  font-weight: bold;
}

.tbl {
  width: 100%;
  th {
    font-weight: bold;
    color: var(--el-text-color-secondary);
    background-color: white;
  }
  td {
    background-color: white;
    color: var(--el-text-color-regular);
  }

  th,
  td {
    font-size: 14px;
    height: var(--table-row-default-height);
    line-height: var(--table-row-default-height);
    padding: 4px 6px;
    border: 1px solid var(--el-border-color-lighter);
    vertical-align: middle;
  }
}

.el-month-table td.today .cell {
  color: unset !important;
}

.el-date-editor--daterange,
.el-date-editor--timerange {
  &.el-input__wrapper {
    flex-grow: unset !important;
  }
}

.el-input-number .el-input__inner {
  text-align: left !important;
}

.attendance-descriptions {
  .el-descriptions__label {
    width: 80px;
  }
}

.el-empty {
  border: 1px solid var(--el-border-color-lighter);
}

.tool-bar {
  height: 32px;
  margin-bottom: var(--el-secounday-padding);
  display: flex;
  align-items: center;
}

.option-secounday {
  color: var(--el-text-color-secondary);
  font-size: 11px;
  padding-left: 10px;
}

.el-popper {
  display: flex;
  align-items: center;
  .el-link {
    font-size: 12px;
  }
}

.category-title {
  font-size: 14px;
  color: var(--el-text-color-primary);
  font-weight: bold;
}

.tip {
  font-size: 11px;
  color: var(--el-text-color-secondary);
}

.el-tag + .el-tag {
  margin-left: var(--el-secounday-padding);
}

.v-note-wrapper {
  border: unset !important;
}

.v-note-wrapper .v-note-panel .v-note-show .v-show-content,
.v-note-wrapper .v-note-panel .v-note-edit.divarea-wrapper .content-input-wrapper {
  padding: var(--el-secounday-padding) !important;
}
