.text-start {
  text-align: left !important;
}

.text-end {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.pl-main {
  padding-left: var(--el-main-padding);
}

.pr-main {
  padding-right: var(--el-main-padding);
}

.pt-main {
  padding-top: var(--el-main-padding);
}

.pb-main {
  padding-bottom: var(--el-main-padding);
}

.pl-secounday {
  padding-left: var(--el-secounday-padding);
}

.pr-secounday {
  padding-right: var(--el-secounday-padding);
}

.pt-secounday {
  padding-top: var(--el-secounday-padding);
}

.pb-secounday {
  padding-bottom: var(--el-secounday-padding);
}
