.text-start {
  text-align: left !important;
}

.text-end {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.d-flex {
  display: flex !important;
}

.align-item-center {
  align-items: center !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.justify-content-center {
  justify-content: center !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.mt-main {
  margin-top: var(--el-main-padding) !important;
}

.mb-main {
  margin-bottom: var(--el-main-padding) !important;
}

.ml-main {
  margin-left: var(--el-main-padding) !important;
}

.mr-main {
  margin-right: var(--el-main-padding) !important;
}

.mt-secounday {
  margin-top: var(--el-secounday-padding) !important;
}

.mb-secounday {
  margin-bottom: var(--el-secounday-padding) !important;
}

.ml-secounday {
  margin-left: var(--el-secounday-padding) !important;
}

.mr-secounday {
  margin-right: var(--el-secounday-padding) !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}
