:root {
  --el-header-height: 60px;
  --el-footer-height: 60px;
  --el-aside-width: 250px;
  --el-main-padding: 20px;
  --table-row-default-height: 23px;
}

// .el-card {
//   --el-card-padding: 12px !important;
// }
