:root {
  --header-height: 60px;
  --common-padding: 20px;
}

// =============================
// overwrite start
// =============================
.el-breadcrumb {
  padding-bottom: 15px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.el-card__header {
  .card-header {
    --card-header-height: 32px;
    height: var(--card-header-height);
    line-height: var(--card-header-height);
  }
}
.el-input-number .el-input__inner {
  text-align: left !important;
}
.el-input-number .el-input__wrapper {
  padding-left: 11px !important;
  padding-right: 11px !important;
}

.el-date-editor--daterange,
.el-date-editor--timerange {
  max-width: var(--el-date-editor-width);
}

.el-input {
  --el-input-width: 220px !important;
  &.el-input-group {
    width: var(--el-input-width);
    .el-input-group__append,
    .el-input-group__prepend {
      padding: 0 12px;
    }
  }
  &.min-length {
    --el-input-width: 120px !important;
  }
}
.multiple-select {
  .el-input {
    --el-input-width: 380px !important;
  }
}
.el-textarea {
  width: 380px !important;
}
.el-table .cell {
  padding: 0px 8px !important;
}
// =============================
// overwrite end
// =============================

// =============================
// util start
// =============================
.w-100 {
  width: 100%;
}

.d-flex {
  display: flex !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.ml-1 {
  margin-left: 2px !important;
}

.ml-2 {
  margin-left: 4px !important;
}

// =============================
// util end
// =============================

// =============================
// global start
// =============================
#app {
  background-color: var(--el-color-info-light-9);
}

.custom-table-header {
  display: flex;
  align-items: center;
  .el-icon {
    font-size: 18px;
    padding-left: 4px;
    padding-bottom: 2px;
  }
}

.el-form-item__content {
  .comment {
    margin-top: 4px;
    width: 100%;
    font-size: 11px;
    line-height: 1.2;
    color: var(--el-color-info);
  }
}
.loading {
  min-height: 200px;
}
// =============================
// global end
// =============================
